/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszgMgo-8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswAMg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PszgMgo-8.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbp2o-flEEny0FZhsfKu5WU4xD-IQ-PuZJJXxfpAO-LfjGbsVNLG7DGdF6OZ1PswAMg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx7cwhsk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxDcwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPx7cwhsk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/jetbrainsmono/v11/tDbv2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKwBNntkaToggR7BYRbKPxDcwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

.title-header-outer {
    text-align: center;
    margin: 2em 0;
}

.title-header-inner {
    display: inline-block;
}

.title-header-inner p,
.title-header-inner h1 {
    margin: 0;
}

.title-header-inner p {
    text-align: center;
}

h3 {
    text-indent: 1em;
}

p {
    line-height: 1.3em;
    text-align: justify;
    text-justify: inter-word;
}

.navbar {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.nonnavlang {
    float: left;
    visibility: hidden;
    margin-left: 1em;
}

.navlang {
    float: right;
    margin-right: 1em;
}

body {
    margin: 0 auto 2em auto;
    max-width: 60em;
    font-size: 15px;
    letter-spacing: -0.05em;
    font-family: "JetBrains Mono", monospace;
    color: #f8f8f2;
    padding: 0 5vw;
    background: #21222c;
}

pre {
    font-size: 0.9em;
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
    scrollbar-width: thin;
}

pre::-webkit-scrollbar {
    background: transparent;
    height: 0.7em;
}

pre::-webkit-scrollbar-thumb {
    background: #6e7073;
    border-radius: 0.3em;
}

pre::-webkit-scrollbar-thumb:hover {
    background: #5b5d60;
}

pre::-webkit-scrollbar-thumb:active {
    background: #393b3f;
}

code {
    font-family: "JetBrains Mono", monospace;
}

p > code {
    font-family: "JetBrains Mono", monospace;
    background-color: hsl(231, 15%, 21%);
    padding: 0px 5px;
    border: none;
    border-radius: 3px;
}

a:link,
a:active,
a:visited {
    color: #ff79c6;
    text-decoration: none;
}

a:hover {
    color: #8be9fd;
    text-decoration: none;
}

hr {
    background-color: #aaaaaa;
    height: 2px;
    border: 0;
}

table {
    border-collapse: collapse;
}

thead {
    text-align: center;
}

td {
    border: 1px solid white;
    padding: 0.4em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 0.5em;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 30em;
}

figure>img {
    width: inherit;
    border-radius: 0.5em;
}

figure>iframe {
    width: inherit;
    border-radius: 0.5em;
}

figcaption {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    color: #777;
}

figcaption>a:link,
figcaption>a:active,
figcaption>a:visited {
    color: #999;
}

figcaption>a:hover {
    color: #ddd;
}

del {
    text-decoration-thickness: 2px;
}

.footnote-definition { font-size: 90%; }
.footnote-definition p { display: inline; }

.mermaid {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.back-to-top {
    text-align: center;
}

.toc-title {
    margin-bottom: 10px;
}

.toc-ul {
    margin-top: 10px;
}
