<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% block title %}
        <title>Albert Canales' Website</title>
    {% endblock title %}
    <link href="/main.css" rel="stylesheet">
    <script src="/footnotes.js"></script>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
</head>

<body>
    <header>
        {% block header %}{% endblock header %}
    </header>
    <nav>
        {% block nav %}
            <p style="margin: 0; text-align: center" class="navbar">
                {% for navitem in config.extra.nav %}
                    {% if section and section.path == navitem.path %}
                        <span style="color: #ccc; text-decoration: underline; padding: 5px">{{ navitem.label }}</span>
                    {% else %}
                        <a style="padding: 5px" href="{{ navitem.path }}">{{ navitem.label }}</a>
                    {% endif %}
                {% endfor %}
                {#<a href="mailto:contact@albertcanales.com">contact</a>#}
            </p>
            <hr>
        {% endblock nav %}
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>

</html>