{% extends "base.html" %}

{% block title %}
    <title>{{page.title}} | Albert Canales</title>
{% endblock title %}

{% block header %}
    <div class="title-header-outer">
        <div class="title-header-inner">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date }}</p>
        </div>
    </div>
{% endblock header %}

{% block content %}

    {% if page.extra.image is defined %}
        <figure>
            <img src="{{ page.permalink ~ page.extra.image }}" class="inlineimg">
        </figure>
    {% endif %}

    {{ page.content | safe }}

    {% if page.extra.steps is defined %}
    <div class="gallery">
        {% for step in page.extra.steps %}
            <div class="gallery-item">
                <div class="gallery-img">
                    <img src="{{ page.permalink ~ step }}">
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

{% endblock content %}
